<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <a href="/" style="width: 5rem" class="btn btn-secondary">Início</a>
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Registrar
        </h1>
        <%- include('./partials/messages') %>
        <form action="/usuarios/registrar" method="POST">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="nome"
              id="nome"
              name="nome"
              class="form-control"
              value="<%= typeof nome != 'undefined' ? nome : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              type="password"
              id="senha"
              name="senha"
              class="form-control"
              value="<%= typeof senha != 'undefined' ? senha : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="senha2">Confirme a senha</label>
            <input
              type="password"
              id="senha2"
              name="senha2"
              class="form-control"
              value="<%= typeof senha2 != 'undefined' ? senha2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registrar
          </button>
        </form>
        <p class="lead mt-4">Já tem uma conta? <a href="/usuarios/login">Acessar</a></p>
      </div>
    </div>
  </div>
  